doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | copyright MyApp.com
            br
            a(href="http://myapp.com") Our site
