<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" href="./styles/auth.css">
</head>
<body>
    <div id="main-wrapper">
        <img id="node-logo" alt="node-logo" src="./images/nodejs-logo.png">
        <h3>Log In</h3>
        <form action="/login" method="post">
            <label for="email">
                Your email
            </label>
            <input type="text" id="email" name="email" placeholder="Your email" required>
            <label for="pass">
                Your pass
            </label>
            <input type="text" id="pass" name="pass" placeholder="Your password" required>
            <input class="btn" type="submit" value="Ok">
        </form>
    </div>
</body>
</html>