<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error page</title>
    <link href="styles/error.css" rel="stylesheet">
</head>
<body>
    <img alt="node logo" id="node-logo" src="images/nodejs-logo.png">
    <h1>Error</h1>
    <div class="error">
        {{#if isUserEmailInFile}}
            <p>{{messageToLogin}} <a href="/login">log in</a></p>
        {{/if}}
        {{#if isEmailInFile}}
            <p>{{messageToRegister}} <a href="/register">register</a></p>
        {{/if}}
        {{#if isUserLogin}}
            <p>{{messageToLogOrReg}}<a href="/login">log in</a> or <a href="/register">register</a></p>
        {{/if}}
    </div>
    <a class="btn" href="/">Go to main page</a>
</body>
</html>