body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 10px 0 20px;
    margin: 0 auto;
    width: 500px;
}
#node-logo {
    max-width: 70px;
    text-align: center;
    margin: 20px auto 0;
}
h3 {
    font-weight: bold;
    font-size: 3rem;
    margin: 24px 0 24px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    padding: 6px 6px;
    margin: 5px auto;
}
label {
    margin-right: 100px;
}
.btn {
    background: #4CAF50;
    padding: 5px 60px;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
}
.btn:hover {
    background: #3e8e41;
}