body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 10px 0 20px;
    margin: 0 auto;
    width: 500px;
}
#node-logo {
    max-width: 70px;
    text-align: center;
    margin: 20px auto 0;
}
h1 {
    text-align: center;
}
#form-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
input {
    margin: 0 10px;
    padding: 10px 23px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
}