extends template
block content
    div
        | Dear #{username}
        br
        | We are very sorry that you are leaving us!
        br
        | But we are always here, next to you and waiting for you